.blog_heading {
    text-align: center;
    padding-top: 2.5%;
    font-weight: 600;
    font-size: 26px;
}
  
.blog_container {
   padding-left: 7%;
   padding-right: 7%;
   padding-bottom:2.5% ;
}
  